<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                         <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                         <div class="panel-body p-3">
                        
                               <form >
                                <div class="form-group p-3">
                                    <div class="input-field">
                                        
                                        <input type="text" placeholder="First Name" id="firstname" required ngModel/>
                                        <small></small>
                                    </div>
                                    </div>
                                    <div class="form-group p-3">
                                        <div class="input-field">
                                            
                                            <input type="text" placeholder="Last Name" id="lastname"/>
                                            
                                        </div>
                                        </div>
                                        <div class="form-group p-3">
                                            <div class="input-field">
                                                <span class="fa fa-envelope p-2"></span>
                                                <input type="text" placeholder="Email" id="email"/>
                                                
                                            </div>
                                            </div>
                                <div class="form-group p-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Username" id="username"/>
                                </div>
                                </div>
                                <div class="form-group p-3">
                                    <div class="input-field">
                                        <span class="fa fa-lock p-2"></span>
                                        <input [type]="type" placeholder="Password" id="password"/>
                                        <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                    </div>
                                    </div>
                                 
                                    <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                                    <div class="text-cntered pt-4 text-muted">Already have an account?<a id="forget" routerLink="/login">Log in</a></div>
                               </form>
                              
                         </div>
                         <!-- <div class="mx-3 my-2 py-2 bordert">
                            <div class="text-center py3">
                                <a href="http://www.facebook.com" target="_blank" class="px-2"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="Facebook"/> </a>
                                <a href="http://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="Google"/> </a>
                                <a href="http://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt="Google"/> </a>
                                
                            </div>
                         </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

